.wy-nav-content-wrap a:visited {
    color: #2980B9;
}

.wy-nav-content {
    max-width: none;
}


.anim-state {
    display: none;
}

.anim-buttons button {
    background-color: #f3f6f6;
    color: #404040;
    display: inline-block;
    border-radius: 2px;
    line-height: normal;
    white-space: nowrap;
    text-align: center;
    cursor: pointer;
    font-size: 100%;
    padding: 6px 12px 8px 12px !important;
    border: 1px solid rgba(0,0,0,0.1);
    text-decoration: none;
    font-weight: normal;
    font-family: "Lato","proxima-nova","Helvetica Neue",Arial,sans-serif;
    box-shadow: 0px 1px 2px -1px rgba(255,255,255,0.5) inset,0px -2px 0px 0px rgba(0,0,0,0.1) inset;
    vertical-align: middle;
    *display: inline;
    zoom: 1;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    transition: all .1s linear;
}

input.anim-slider {
    -webkit-appearance: none;
    appearance: none;

    background-color: #d3d3d3;;
    outline: none !important;

    border-radius: 8px;
}

input.anim-slider::-moz-range-thumb, input.anim-slider::-webkit-slider-thumb  {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    height: 100%; 
    background: #404040;
    cursor: pointer;
    border: none;
    border-radius: 15% 15% 50% 55%;
}
